.card{
    background-color: rgb(255, 255, 255);
    width: 40%; 
    border-radius: 20px;
    padding: 5px;
    margin: 10px
}

.text_div{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 460.45px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px
}

.pet_name{
    text-align: center;
}
.pet_desc{
    text-align: center;
}