.modal{
    border: 3px solid #fab700;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
}

.comment_text{
    margin-bottom: 5px !important;
    border: 1px solid #fab700;
    border-radius: 3px;
}

.commentP{
    margin-bottom: 5px;
}